<div class="modal-header">
    <h4 class="modal-title">JIRA Created </h4>
</div>
<div class="modal-body" ng-switch on="jiraFor">
    <table class="table table-bordered table-striped" ng-switch-when="brandGapHealth">
        <thead>
            <tr>
                <th>Brand</th>
                <th>JIRA ID</th>
                <th>Created By</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="jiraObj in jiraCreatedFor">
                <td>{{jiraObj.brandName}}</td>
                <td><a href="{{jiraObj.url}}" target="_blank">{{jiraObj.key}}</a></td>
                <td>{{jiraObj.createdBy}}</td>
                <td>{{jiraObj.assignee}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-switch-when="filterCoverage">
        <div ng-bind-html="trustSnippet()"></div>
    </div>
    <div ng-switch-when="search">
        <div ng-bind-html="trustSnippet()"></div>
    </div>
    <table class="table table-bordered table-striped" ng-switch-when="assortmentGap">
        <thead>
            <tr>
                <th>Discription</th>
                <th>JIRA ID</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="jiraObj in jiraCreatedFor">
                <td>{{jiraObj.description}}</td>
                <td><a href="{{jiraObj.jiraUrl}}" target="_blank">{{jiraObj.jiraId}}</a></td>
                <td>{{jiraObj.assignee}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-switch-default>
        <h3>Error ....</h3>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
</div>