<div class="well well-sm " style="margin:5%;font-size:18px;">
    <header style="border-bottom:1px solid #efefef;padding: 5px;"><b>Sign up instructions for elevate:</b></header>
    <ol type="1">
        <li>Visit <a href="https://access.snapdeal.com/" target="_blank">access.snapdeal.com</a> to take permission for production.</li>
        <li>Login using you domain name and password.</li>
        <li>On panel click on 'Get Access'.</li>
        <li>Select <b>'assortmentDashboard'</b> application.</li>
        <li>Select resources for which permission is required.</li>
    </ol>
    <header><b>Approver</b>: Upendra Singh <a href="mailto:upendra.singh@snapdeal.com" target="_top"> (upendra.singh@snapdeal.com)</a></header>
    <!--  <table class="table table-bordered table-striped hidden">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Approver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://10.41.92.43:11153/" target="_blank">ITE3</a></td>
                <td>Ankit Jain<a href="mailto:ankit.jain03@snapdeal.com" target="_top"> (ankit.jain03@snapdeal.com)</a></td>
            </tr>
            <tr class="hidden">
                <td><a href="https://54.169.156.29" target="_blank">Staging</a></td>
                <td>Ankit Jain<a href="mailto:ankit.jain03@snapdeal.com" target="_top"> (ankit.jain03@snapdeal.com)</a></td>
            </tr>
            <tr>
                <td><a href="https://access.snapdeal.com/" target="_blank">Production</a></td>
                <td>Upendra Singh <a href="mailto:upendra.singh@snapdeal.com" target="_top"> (upendra.singh@snapdeal.com)</a></td>
            </tr>
        </tbody>
    </table> -->
    <center style="margin-top: 30px;margin-bottom: 10px;">
        <a href="#/login" class="btn btn-default">Go to Login </a>
    </center>
    <p class="text-muted text-center"><small>NOTE : Request for access goes to the approver once you fill up the form. You may get in touch with the Approver in case of any delay or trouble for the same.</small>
    </p>
</div>